<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [18]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.41
    Uninstalling SQLAlchemy-2.0.41:
      Successfully uninstalled SQLAlchemy-2.0.41
Successfully installed sqlalchemy-1.3.9

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Wills Michael\anaconda3\Lib\site-packages\~qlalchemy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [19]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\wills michael\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.43-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\wills michael\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\wills michael\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: decorator in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\wills michael\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\wills michael\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\wills michael\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\wills michael\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\wills michael\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading sqlalchemy-2.0.43-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 1.0 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.0 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 745.8 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 839.3 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 838.9 kB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 838.9 kB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 883.2 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 883.1 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 876.3 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 871.1 kB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.43
Requirement already satisfied: ipython-sql in c:\users\wills michael\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\wills michael\anaconda3\lib\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\wills michael\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\wills michael\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet>=1 in c:\users\wills michael\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\wills michael\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: decorator in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\wills michael\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\wills michael\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\wills michael\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\wills michael\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\wills michael\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [22]:
!pip install -q pandas

In [23]:
%sql sqlite:///my_data1.db

In [24]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [25]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [26]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [27]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [28]:
df['Launch_Site'].unique

<bound method Series.unique of 0       CCAFS LC-40
1       CCAFS LC-40
2       CCAFS LC-40
3       CCAFS LC-40
4       CCAFS LC-40
           ...
96     CCAFS SLC-40
97       KSC LC-39A
98      VAFB SLC-4E
99     CCAFS SLC-40
100      KSC LC-39A
Name: Launch_Site, Length: 101, dtype: object>


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [29]:
data = {
    'Launch_Site': ['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS LC-40', 'VAFB SLC-4E', 'CCA-900', 'CCAFS LC-40', 'KSC LC-39A'],
    'Mission_Outcome': ['Success', 'Success', 'Failure', 'Success', 'Success', 'Failure', 'Success', 'Success'],
    'Payload_Mass__KG_': [1000, 2000, 1500, 3000, 2500, 1200, 1800, 4000],
    'Booster_Version': ['B1001', 'B1002', 'B1003', 'B1004', 'B1005', 'B1006', 'B1007', 'B1008']
}
df = pd.DataFrame(data)
df

   Launch_Site Mission_Outcome  Payload_Mass__KG_ Booster_Version
0  CCAFS LC-40         Success               1000           B1001
1  VAFB SLC-4E         Success               2000           B1002
2   KSC LC-39A         Failure               1500           B1003
3  CCAFS LC-40         Success               3000           B1004
4  VAFB SLC-4E         Success               2500           B1005
5      CCA-900         Failure               1200           B1006
6  CCAFS LC-40         Success               1800           B1007
7   KSC LC-39A         Success               4000           B1008

In [30]:
# Establish connection to the database
con = sqlite3.connect("spacex.db")
cursor = con.cursor()
print("Database connection established successfully to '{spacex.db}'.")

Database connection established successfully to '{spacex.db}'.

In [31]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")
print("Table 'SPACEXTBL' created/replaced successfully.")

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables_in_db = cursor.fetchall()
print("\nTables currently in the database:")
if tables_in_db:
    for table in tables_in_db:
        print(f"- {table[0]}")
else:
    print("No tables found in this database.")

Table 'SPACEXTBL' created/replaced successfully.

Tables currently in the database:
- SPACEXTBL

In [32]:
# SQL query to select 5 records where LaunchSite starts with 'CCA'
sql_query = """
SELECT *
FROM SPACEXTBL
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5;
"""

In [33]:
# Execute the query
cursor.execute(sql_query)

# Fetch the results
records = cursor.fetchall()

# Get column names from cursor description
column_names = [description[0] for description in cursor.description]

In [36]:
# Display the results
try:
    # Display the results
    if records:
        print("\n--- 5 Records where Launch_Site begins with 'CCA': ---")
        
        # Print header
        print(f"{' | '.join(column_names)}")
        print("-" * (len(' | '.join(column_names))))
        
        # Print rows
        for row in records:
            print(f"{' | '.join(map(str, row))}")
    else:
        print("\nNo records found where Launch_Site begins with 'CCA'.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:  # Catch any other unexpected errors
    print(f"An unexpected error occurred: {e}")

finally:
    # Close the database connection
    if con:
        con.close()
        print("Database connection closed.")

--- 5 Records where Launch_Site begins with 'CCA': ---
Launch_Site | Mission_Outcome | Payload_Mass__KG_ | Booster_Version
-------------------------------------------------------------------
CCAFS LC-40 | Success | 1000 | B1001
CCAFS LC-40 | Success | 3000 | B1004
CCA-900 | Failure | 1200 | B1006
CCAFS LC-40 | Success | 1800 | B1007
Database connection closed.

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [38]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: Sum payload mass where Customer contains 'NASA (CRS)'
    query = """
    SELECT SUM(Payload_Mass__kg_) AS Total_Payload_Mass
    FROM SPACEXTBL
    WHERE Customer LIKE '%NASA (CRS)%';
    """

    cursor.execute(query)
    result = cursor.fetchone()

    # Display result
    if result and result[0] is not None:
        print(f"Total Payload Mass carried by NASA (CRS) boosters: {result[0]} kg")
    else:
        print("No records found for NASA (CRS).")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

Total Payload Mass carried by NASA (CRS) boosters: 48213 kg
Database connection closed.

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [39]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: compute the average payload mass for booster version F9 v1.1
    query = """
    SELECT AVG(Payload_Mass__kg_) AS Average_Payload_Mass
    FROM SPACEXTBL
    WHERE Booster_Version = 'F9 v1.1';
    """

    cursor.execute(query)
    result = cursor.fetchone()

    # Display result
    if result and result[0] is not None:
        print(f"Average Payload Mass for Booster Version 'F9 v1.1': {result[0]:.2f} kg")
    else:
        print("No records found for Booster Version 'F9 v1.1'.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

Average Payload Mass for Booster Version 'F9 v1.1': 2928.40 kg
Database connection closed.

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [40]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: find the earliest date of a successful landing on a ground pad
    query = """
    SELECT MIN(Date) AS First_Successful_Ground_Pad_Landing
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Success (ground pad)';
    """

    cursor.execute(query)
    result = cursor.fetchone()

    # Display result
    if result and result[0] is not None:
        print(f"The first successful ground pad landing occurred on: {result[0]}")
    else:
        print("No successful ground pad landing records found.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

The first successful ground pad landing occurred on: 2015-12-22
Database connection closed.

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [41]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: boosters with successful drone ship landing and payload between 4000 and 6000
    query = """
    SELECT Booster_Version
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Success (drone ship)'
      AND Payload_Mass__kg_ > 4000
      AND Payload_Mass__kg_ < 6000;
    """

    cursor.execute(query)
    records = cursor.fetchall()

    # Display results
    if records:
        print("\nBoosters with successful drone ship landing and payload between 4000–6000 kg:")
        for row in records:
            print("-", row[0])
    else:
        print("No matching boosters found.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

Boosters with successful drone ship landing and payload between 4000–6000 kg:
- F9 FT B1022
- F9 FT B1026
- F9 FT  B1021.2
- F9 FT  B1031.2
Database connection closed.

### Task 7




##### List the total number of successful and failure mission outcomes

In [42]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: count missions grouped by mission outcome
    query = """
    SELECT Mission_Outcome, COUNT(*) AS Total_Missions
    FROM SPACEXTBL
    GROUP BY Mission_Outcome;
    """

    cursor.execute(query)
    records = cursor.fetchall()

    # Display results
    if records:
        print("\n--- Total Number of Missions by Outcome ---")
        print(f"{'Mission_Outcome':40} | {'Total_Missions'}")
        print("-" * 60)
        for row in records:
            print(f"{row[0]:40} | {row[1]}")
    else:
        print("No mission outcome records found.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

--- Total Number of Missions by Outcome ---
Mission_Outcome                          | Total_Missions
------------------------------------------------------------
Failure (in flight)                      | 1
Success                                  | 98
Success                                  | 1
Success (payload status unclear)         | 1
Database connection closed.

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [45]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query using subquery to find boosters with the maximum payload mass
    query = """
    SELECT Booster_Version, Payload_Mass__kg_
    FROM SPACEXTBL
    WHERE Payload_Mass__kg_ = (
        SELECT MAX(Payload_Mass__kg_)
        FROM SPACEXTBL
    );
    """

    cursor.execute(query)
    records = cursor.fetchall()

    # Display results
    if records:
        print("\n--- Booster Versions with Maximum Payload Mass ---")
        print(f"{'Booster_Version':25} | {'Payload_Mass__kg_'}")
        print("-" * 50)
        for row in records:
            print(f"{row[0]:25} | {row[1]}")
    else:
        print("No matching records found.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

--- Booster Versions with Maximum Payload Mass ---
Booster_Version           | Payload_Mass__kg_
--------------------------------------------------
F9 B5 B1048.4             | 15600
F9 B5 B1049.4             | 15600
F9 B5 B1051.3             | 15600
F9 B5 B1056.4             | 15600
F9 B5 B1048.5             | 15600
F9 B5 B1051.4             | 15600
F9 B5 B1049.5             | 15600
F9 B5 B1060.2             | 15600
F9 B5 B1058.3             | 15600
F9 B5 B1051.6             | 15600
F9 B5 B1060.3             | 15600
F9 B5 B1049.7             | 15600
Database connection closed.

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [46]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: extract month, filter by year 2015 and failed drone ship landings
    query = """
    SELECT 
        substr(Date, 6, 2) AS Month, 
        Booster_Version, 
        Launch_Site, 
        Landing_Outcome
    FROM SPACEXTBL
    WHERE Landing_Outcome LIKE '%Failure (drone ship)%'
      AND substr(Date, 1, 4) = '2015';
    """

    cursor.execute(query)
    records = cursor.fetchall()

    # Display results
    if records:
        print("\n--- Failed Drone Ship Landings (2015) by Month ---")
        print(f"{'Month':6} | {'Booster_Version':20} | {'Launch_Site':25} | {'Landing_Outcome'}")
        print("-" * 80)
        for row in records:
            print(f"{row[0]:6} | {row[1]:20} | {row[2]:25} | {row[3]}")
    else:
        print("No failed drone ship landing records found for 2015.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

--- Failed Drone Ship Landings (2015) by Month ---
Month  | Booster_Version      | Launch_Site               | Landing_Outcome
--------------------------------------------------------------------------------
01     | F9 v1.1 B1012        | CCAFS LC-40               | Failure (drone ship)
04     | F9 v1.1 B1015        | CCAFS LC-40               | Failure (drone ship)
Database connection closed.

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [48]:
import sqlite3

try:
    # Connect to the database
    con = sqlite3.connect("my_data1.db")
    cursor = con.cursor()

    # SQL query: count and rank landing outcomes between two dates
    query = """
    SELECT 
        Landing_Outcome,
        COUNT(*) AS Outcome_Count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY Outcome_Count DESC;
    """

    cursor.execute(query)
    records = cursor.fetchall()

    # Display results with manual ranking
    if records:
        print("\n--- Ranked Landing Outcomes (2010-06-04 to 2017-03-20) ---")
        print(f"{'Rank':4} | {'Landing_Outcome':30} | {'Count'}")
        print("-" * 60)
        for idx, row in enumerate(records, start=1):
            print(f"{idx:<4} | {row[0]:30} | {row[1]}")
    else:
        print("No landing outcome records found in the specified date range.")

except sqlite3.Error as e:
    print(f"Database error during operation: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if con:
        con.close()
        print("Database connection closed.")

--- Ranked Landing Outcomes (2010-06-04 to 2017-03-20) ---
Rank | Landing_Outcome                | Count
------------------------------------------------------------
1    | No attempt                     | 10
2    | Success (drone ship)           | 5
3    | Failure (drone ship)           | 5
4    | Success (ground pad)           | 3
5    | Controlled (ocean)             | 3
6    | Uncontrolled (ocean)           | 2
7    | Failure (parachute)            | 2
8    | Precluded (drone ship)         | 1
Database connection closed.

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Unyime Michael </h4>

## Other Contributors

<h4> Rav Ahuja </h4>
<h4> Lakshmi Holla </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>